[user]
	email = ankush@frappe.io
	name = Ankush Menat
	signingKey = BBD13AAF

[commit]
	gpgSign = true

[difftool]
	tool = vimdiff
	colorMoved = default

[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold

[core]
	editor = nvim
	pager = delta

[merge]
	tool = nvim

[interactive]
	diffFilter = delta --color-only

[mergetool "nvim"]
	cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"

[commit]
	verbose = true
	template = ~/.gitmessage

[init]
	defaultBranch = develop
[gpg]
	program = /usr/local/bin/gpg
[pull]
	ff = only

[alias]
	lg = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --branches

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[delta]
	features = line-numbers
	whitespace-error-style = 22 reverse
	syntax-theme = Dracula

[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none
