[user]
	email = ankush@iwebnotes.com
	name = Ankush Menat
	signingKey = BBD13AAF

[commit]
	gpgSign = true

[difftool]
    tool = vimdiff

[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold

[core]
	editor = nvim

[merge]
	tool = vimdiff

[commit]
	verbose = true
	template = ~/.gitmessage

[init]
	defaultBranch = develop
[gpg]
	program = /usr/local/bin/gpg
[pull]
	ff = only
